<%= link_to "login", @response["login"] %><br>
<%= image_tag @response["avatar_url"] %><br>
<%= link_to "url", @response["url"] %><br>
<%= link_to "html", @response ["html_url"] %><br>
<%= link_to "followers", @response["followers_url"] %><br>
<%= link_to "following", @response["following_url"] %><br>
<%= link_to "gists", @response["gist_url"] %><br>
<%= link_to "starred", @response["starred_url"] %><br>
<%= link_to "subscriptions", @response["subscriptions_url"] %><br>
<%= link_to "repos", @response["repos_url"] %><br>
<%= link_to "events", @response["events_url"] %><br>
<%= link_to "received events", @response["received_events_url"] %><br>
<%= link_to "type", @response["type"] %><br>
<%= link_to @response["site_admin"] %><br>
<%= link_to @response["public_repos"] %><br>
<%= link_to @response["public_gists"] %><br>
<%= link_to @response["followers"] %><br>
<%= link_to @response["following"] %><br>
<%= link_to @response["created_at"] %><br>
<%= link_to @response["updated_at"] %><br>








<p><%= @response %></p>
